.banner {
    height: 200px;
    overflow: hidden;
    position: relative;
    background-image: url('../img/image-banner.png');
    background-position: center center;
    &__background {
        position: absolute;
        top: -340px;
        left: 0px;
    }
}

.title {
    text-align: left;
    margin: 1rem 0;
    font-family: $roboto;
    font-size: 28px;
    font-weight: $bold;
    @media(max-width: 768px) {
        text-align: center;
    }
}

.central {
    width: 100%;
}

.central__img {
    width: 100%;
}

.central__text {
    font-size: 1.2rem;
    font-weight: $bold;
    font-family: $roboto;
    padding-top: 10px;
}

.central__text__parrafo {
    font-weight: $regular
}